{{- $hasGui := promptBoolOnce . "hasGui" "Does this computer have a screen and a graphical env?" -}}

[diff]
    command = "delta"
    args = ["--side-by-side"]
    pager = "delta"
    exclude = ["scripts"]

[data]
    hasGui = {{ $hasGui }}
    headless = {{ not $hasGui }}
    os = {{ .chezmoi.os | quote }}
    arch = {{ .chezmoi.arch | quote }}

[github]
    refreshPeriod = "24h"
